<!DOCTYPE html>

<head>
    <title>yobot公会管理</title>
    <meta charset="utf-8" content='width=380' name='viewport'/>
    <script src="/yobot-depencency/vue@2.6.11/dist/vue.min.js"></script>
    <script src="/yobot-depencency/axios@0.19.2/dist/axios.min.js"></script>
    <script src="/yobot-depencency/element-ui@2.13.0/lib/index.js"></script>
    <link href="/yobot-depencency/element-ui@2.13.0/lib/theme-chalk/index.css" rel="stylesheet">
</head>

<body>
<div id="app">
    <el-page-header @back="location='..'" content="yobot公会管理"></el-page-header>
    <el-table :data="groupData" stripe style="width: 100%">
        <el-table-column label="群号" prop="group_id" sortable width="100"></el-table-column>
        <el-table-column label="群名称" prop="group_name" sortable width="150"></el-table-column>
        <el-table-column label="游戏区" prop="game_server" sortable width="100"></el-table-column>
        <el-table-column label="详情页" width="30">
            <template slot-scope="scope">
                <a :href="'../../clan/' + scope.row.group_id + '/'"><i class="el-icon-more-outline"></i></a>
            </template>
        </el-table-column>
        <el-table-column label="删除" width="30">
            <template slot-scope="scope">
                <el-button @click="delete_group(scope)" icon="el-icon-delete" type="text"></el-button>
            </template>
        </el-table-column>
    </el-table>
</div>
</body>
<script>
    var api_path = "{{ url_for('yobot_groups_api') }}";
    var csrf_token = "{{ session['csrf_token'] }}";
</script>
<script src="{{ url_for('yobot_static', filename='admin/groups.js') }}"></script>

</html>