<!DOCTYPE html>

<head>
    <title>yobot用户管理</title>
    <meta charset="utf-8" content='width=1000' name='viewport'/>
    <script src="/yobot-depencency/vue@2.6.11/dist/vue.min.js"></script>
    <script src="/yobot-depencency/axios@0.19.2/dist/axios.min.js"></script>
    <script src="/yobot-depencency/element-ui@2.13.0/lib/index.js"></script>
    <link href="/yobot-depencency/element-ui@2.13.0/lib/theme-chalk/index.css" rel="stylesheet">
    <style>
        [icon="el-icon-delete"] {
            color: red;
        }
    </style>
</head>

<body>
<div id="app">
    <el-page-header @back="location='..'" content="yobot用户管理"></el-page-header>
    <br>
    <el-form :inline="true" :model="query_input">
        <el-form-item label="QQ号">
            <el-input placeholder="QQ号" v-model="query_input.qqid"></el-input>
        </el-form-item>
        <el-form-item label="公会战群号">
            <el-input placeholder="公会战群号" v-model="query_input.clan_group_id"></el-input>
        </el-form-item>
        <el-form-item label="用户组">
            <el-select placeholder="用户组" v-model="query_input.authority_group">
                <el-option label="不限" value=""></el-option>
                <el-option label="主人" value="1"></el-option>
                <el-option label="公会战管理员" value="10"></el-option>
                <el-option label="成员" value="100"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button @click="search" icon="el-icon-search" type="primary">搜索</el-button>
        </el-form-item>
    </el-form>
    <el-table :data="userData" stripe style="width: 100%" v-loading="isLoading">
        <el-table-column label="详情页" width="30">
            <template slot-scope="scope">
                <a :href="'../../user/' + scope.row.qqid + '/'"><i class="el-icon-user"></i></a>
            </template>
        </el-table-column>
        <el-table-column label="昵称" prop="nickname" sortable width="200"></el-table-column>
        <el-table-column label="QQ号" prop="qqid" sortable width="120"></el-table-column>
        <el-table-column label="公会战群号" prop="clan_group_id" sortable width="120"></el-table-column>
        <el-table-column label="用户组" prop="authority_group" sortable width="150">
            <template slot-scope="scope">
                <el-select @change="modify(scope)" size="mini" v-model="scope.row.authority_group">
                    <el-option :key="item.value" :label="item.label" :value="item.value"
                               v-for="item in authtype"></el-option>
                </el-select>
            </template>
        </el-table-column>
        <el-table-column label="上次登录时间" prop="last_login_time" sortable width="200">
            <template slot-scope="scope">
                [[ datestr(scope.row.last_login_time) ]]
            </template>
        </el-table-column>
        <el-table-column label="上次登录IP地址" prop="last_login_ipaddr" width="150"></el-table-column>
        <el-table-column label="删除" width="30">
            <template slot-scope="scope">
                <el-button @click="delete_user(scope)" icon="el-icon-delete" type="text"></el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-button :loading="moreLoading" @click="load_more" icon="el-icon-arrow-down" v-if="has_more">加载更多</el-button>
    <el-button disabled icon="el-icon-arrow-down" v-else>已加载全部</el-button>
    <el-backtop></el-backtop>
</div>
</body>
<script>
    var api_path = "{{ url_for('yobot_users_api') }}";
    var csrf_token = "{{ session['csrf_token'] }}";
</script>
<script src="{{ url_for('yobot_static', filename='admin/users.js') }}"></script>

</html>