<!DOCTYPE html>

<head>
    <title>公会战</title>
    <meta charset="utf-8" content='width=480' name='viewport'/>
    <script src="/yobot-depencency/vue@2.6.11/dist/vue.min.js"></script>
    <script src="/yobot-depencency/axios@0.19.2/dist/axios.min.js"></script>
    <script src="/yobot-depencency/element-ui@2.13.0/lib/index.js"></script>
    <link href="/yobot-depencency/element-ui@2.13.0/lib/theme-chalk/index.css" rel="stylesheet">
    <script src="/yobot-depencency/jquery@2.1.1/jquery.min.js"></script>
    <script src="/yobot-depencency/yocool@final/princessadventure/yocool.js"></script>
    <link href="/yobot-depencency/yocool@final/princessadventure/style.css" rel="stylesheet">

    <style>
        .el-main {
            overflow: hidden;
        }

        @media only screen and (max-width: 1080px) {
            .el-dialog {
                width: 80%;
            }
        }

        @media only screen and (min-width: 1500px) {
            .clanbg {
                margin-bottom: -5%;
            }
        }
    </style>
</head>

<body>
<div id="app">
    <div id="topToolbar">
        <el-page-header @back="location='../../user'"></el-page-header>

        <el-menu :default-active="activeIndex" @select="handleSelect" class="el-menu-demo" mode="horizontal">
            <el-menu-item index="6">排名</el-menu-item>
            <el-menu-item index="5">我的</el-menu-item>
            <el-menu-item index="4">统计</el-menu-item>
            <el-menu-item index="3">查刀</el-menu-item>
            <el-menu-item index="2">预约</el-menu-item>
            <el-menu-item index="1">面板</el-menu-item>
        </el-menu>
    </div>

    <div v-if="isMobile">
        <div class="clanname" style="margin-top:60px;width:auto;">[[groupData.group_name]]</div>
        <div class="clancycle" style="margin-top:3%">第[[base_cycle]]周目挑战中</div>
        <el-main style="padding: 0;margin-top: 5%;">
            <el-row :key="boss_num" style="margin-bottom: 0;background-color: var(--background-color)"
                    v-for="(info, boss_num) in bossData">
                <el-col style="width: 25%;">
                    <img :src="boss_icon_src(boss_num)" style="float:left;width:100px;height:100px;margin:5px;">
                </el-col>
                <el-col style="height:110px;width: 70%;margin-right: 5%;">
                    <div style="font-weight: 550;margin-top: 2%;">[[info.cycle]]周目-[[info.name]]</div>
                    <div class="boss_info-single_health_box">
                        <div :style="{ width: (info.health/info.full_health)*100 + '%'}"
                             class="boss_info-single_health">
                            [[((info.health/info.full_health) * 100).toFixed(1)]]%
                        </div>
                    </div>
                    <div style="font-weight: 550;">[[info.health]]/[[info.full_health]]</div>
                    <div :id="get_challenger_id(boss_num)" @mouseleave="close_challengers(boss_num)"
                         @mouseover="show_challengers(boss_num)"
                         class="boss_info-single_challenger" style="width: 50%;margin-left: 30px;height: 28px;">
                        挑战列表
                    </div>
                    <transition name="fade" style="margin-left: 10%;">
                        <div class="challengers_window" style="width: 70%;" v-show="challengersList[boss_num]">
                            <a style="font-weight: 400;color:white" v-if="Object.keys(info.challenger).length===0">当前无人在挑战这个boss</a>
                            <a :key="qqid" style="font-weight: 400;color:white;"
                               v-for="(player_info, qqid) in info.challenger">
                                [[find_name(qqid)]][[player_info.tree?"(已挂树)":""]]<br>
                            </a>
                        </div>
                    </transition>
                    <div class="phone_spread">
                        <el-button @click="boxShow[boss_num] = !boxShow[boss_num]" size="small">
                            [[boxShow[boss_num]?'收起-':'展开+']]
                            </button>
                    </div>
                </el-col>
                <transition name="phone_draw">
                    <div class="phone_control" v-show="boxShow[boss_num]">
                        {% if is_member -%}
                        <div class="small-buttons-row2" style="margin: 5px;">
                            <div style="margin: 10px;">
                                <el-button @click="applyDialog[boss_num]=true;behalf_apply=self_id" size="small">
                                    申请出刀
                                </el-button>
                                <el-dialog :visible.sync="applyDialog[boss_num]" title="申请出刀">
                                    <el-form>
                                        <el-form-item label="是否是补偿刀" label-width="120">
                                            <el-radio-group v-model="is_continue">
                                                <el-switch active-text="是" inactive-text="否"
                                                           v-model="is_continue"></el-switch>
                                            </el-radio-group>
                                        </el-form-item>
                                        <el-form-item label="出刀成员" label-width="120">
                                            <el-select filterable placeholder="选择成员" v-model="behalf_apply">
                                                <el-option :key="item.qqid" :label="item.nickname"
                                                           :value="item.qqid" v-for="item in members">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-form>
                                    <div class="dialog-footer" slot="footer">
                                        <el-button @click="applyDialog[boss_num]=false" type="danger">取消</el-button>
                                        <el-button @click="challengeapply(boss_num);applyDialog[boss_num]=false"
                                                   type="primary">确定
                                        </el-button>
                                    </div>
                                </el-dialog>
                            </div>
                            <div style="margin: 10px;">
                                <el-button @click="recordDamageDialog[boss_num]=true;behalf=null" size="small"
                                           style="width:auto">报刀
                                </el-button>
                                <el-dialog :visible.sync="recordDamageDialog[boss_num]" title="报刀">
                                    <el-form>
                                        <el-form-item label="正在出刀的成员" label-width="120">
                                            <el-select filterable placeholder="选择成员" v-model="behalf">
                                                <el-option :key="qqid" :label="find_name(qqid)"
                                                           :value="qqid" v-for="(player_info, qqid) in info.challenger">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="是否击败boss" label-width="120">
                                            <el-radio-group v-model="defeat">
                                                <el-switch active-text="击败" inactive-text="未击败"
                                                           v-model="defeat"></el-switch>
                                            </el-radio-group>
                                        </el-form-item>
                                        <el-form-item label="伤害值" label-width="120">
                                            <el-input #} @keyup.enter.native="recordDamage" v-model.number="damage" {#>
                                                <template slot="prepend">[[ damageHint ]]</template>
                                            </el-input>
                                        </el-form-item>
                                    </el-form>
                                    <div class="dialog-footer" slot="footer">
                                        <el-button @click="recordDamageDialog[boss_num]=false" type="danger">取消
                                        </el-button>
                                        <el-button @click="recordDamage(boss_num);recordDamageDialog[boss_num]=false"
                                                   type="primary">确定
                                        </el-button>
                                    </div>
                                </el-dialog>
                            </div>
                            <div style="margin: 10px;">
                                <el-button @click="cancelApplyDialog[boss_num]=true;behalf_cancelApply=null"
                                           size="small">取消出刀
                                </el-button>
                                <el-dialog :visible.sync="cancelApplyDialog[boss_num]" title="取消出刀">
                                    <el-form>
                                        <el-form-item label="正在出刀的成员" label-width="120">
                                            <el-select filterable placeholder="选择成员" v-model="behalf_cancelApply">
                                                <el-option :key="qqid" :label="find_name(qqid)"
                                                           :value="qqid" v-for="(player_info, qqid) in info.challenger">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-form>
                                    <div class="dialog-footer" slot="footer">
                                        <el-button @click="cancelApplyDialog[boss_num]=false" type="danger">取消
                                        </el-button>
                                        <el-button @click="cancelapply();cancelApplyDialog[boss_num]=false"
                                                   type="primary">确定
                                        </el-button>
                                    </div>
                                </el-dialog>
                            </div>
                        </div>
                        {% else -%}
                        <p><a class="exbig">非公会战成员无法进行更多操作</a></p>
                        {% endif -%}
                    </div>
                </transition>
            </el-row>
        </el-main>
        {% if is_member -%}
        <div class="buttons-row" style="margin: 20px;">
            <div>
                <el-button @click="recordUndo" size="small" type="info">撤销报刀</el-button>
            </div>
            <div>
                <el-button @click="statusFormVisible=true;update_boss_data();" size="small" style="width: 100%;"
                           type="info">修改状态
                </el-button>
                <el-dialog :visible.sync="statusFormVisible" title="修改状态">
                    <el-alert :closable="false" style="margin-bottom: 10px;"
                              title="如果要清空数据，请在“设置”中操作，否则会导致分析数据不准确" type="warning"></el-alert>
                    <el-alert :closable="false" style="margin-bottom: 10px;" title="支持多个boss数据同时修改"
                              type="warning"></el-alert>
                    <el-form>
                        <el-form-item label="当前周目" label-width="120">
                            <el-input-number :min="1" v-model="base_cycle">
                            </el-input-number>
                        </el-form-item>
                        <el-form-item label="boss号" label-width="120">
                            <el-select filterable placeholder="选择boss" v-model="boss_num">
                                <el-option :key="boss_num_" :label="boss_num_" :value="boss_num_"
                                           v-for="(info, boss_num_) in bossData">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="是否当前周目" label-width="120">
                            <el-switch active-text="下个周目" inactive-text="当前周目"
                                       v-model="bossData[boss_num].is_next"></el-switch>
                        </el-form-item>
                        <el-form-item label="剩余生命值" label-width="120">
                            <el-input-number :max="bossData[boss_num].full_health"
                                             :min="bossData[boss_num].is_next?0:1"
                                             v-model="bossData[boss_num].health">
                            </el-input-number>
                        </el-form-item>
                    </el-form>
                    <div class="dialog-footer" slot="footer">
                        <el-button @click="statusFormVisible=false;update_boss_data();" type="danger">取消</el-button>
                        <el-button @click="modify" type="primary">修改</el-button>
                    </div>
                </el-dialog>
            </div>
            <div>
                <a href="./setting/">
                    <el-button size="small" type="info">设置</el-button>
                </a>
            </div>
        </div>
        <div class="buttons-row" style="margin: 20px;">
            <div>
                <el-button @click="treeDialog=true" size="small" type="info">挂树</el-button>
                <el-dialog :visible.sync="treeDialog" title="挂树">
                    <el-radio-group style="margin-bottom: 10px;" v-model="treeNum">
                        <el-radio-button label="1"></el-radio-button>
                        <el-radio-button label="2"></el-radio-button>
                        <el-radio-button label="3"></el-radio-button>
                        <el-radio-button label="4"></el-radio-button>
                        <el-radio-button label="5"></el-radio-button>
                    </el-radio-group>
                    <el-form>
                        <el-form-item label="正在出刀的成员" label-width="120">
                            <el-select filterable placeholder="选择成员" v-model="behalf_tree">
                                <el-option :key="qqid" :label="find_name(qqid)"
                                           :value="qqid" v-for="(player_info, qqid) in bossData[treeNum].challenger">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-form>
                    <div class="dialog-footer" slot="footer">
                        <el-button @click="treeDialog=false" type="danger">取消</el-button>
                        <el-button @click="put_on_the_tree();treeDialog=false" type="primary">确定</el-button>
                    </div>
                </el-dialog>
            </div>
            <div>
                <el-button @click="cancelTreeDialog=true" size="small" type="info">取消挂树</el-button>
                <el-dialog :visible.sync="cancelTreeDialog" title="取消挂树挂树">
                    <el-radio-group style="margin-bottom: 10px;" v-model="treeNum">
                        <el-radio-button label="1"></el-radio-button>
                        <el-radio-button label="2"></el-radio-button>
                        <el-radio-button label="3"></el-radio-button>
                        <el-radio-button label="4"></el-radio-button>
                        <el-radio-button label="5"></el-radio-button>
                    </el-radio-group>
                    <el-form>
                        <el-form-item label="正在出刀的成员" label-width="120">
                            <el-select filterable placeholder="选择成员" v-model="behalf_cancelTree">
                                <el-option :key="qqid" :label="find_name(qqid)"
                                           :value="qqid" v-for="(player_info, qqid) in bossData[treeNum].challenger">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-form>
                    <div class="dialog-footer" slot="footer">
                        <el-button @click="cancelTreeDialog=false" type="danger">取消</el-button>
                        <el-button @click="take_it_of_the_tree();cancelTreeDialog=false" type="primary">确定</el-button>
                    </div>
                </el-dialog>
            </div>
            <div>
                <el-button @click="slDialog=true;slMember=self_id" size="small" type="info">记录SL</el-button>
                <el-dialog :visible.sync="slDialog" title="记录SL">
                    <el-form>
                        <el-form-item label="所有成员" label-width="120">
                            <el-select filterable placeholder="选择成员" v-model="slMember">
                                <el-option :key="item.qqid" :label="item.nickname" :value="item.qqid"
                                           v-for="item in members">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-form>
                    <div class="dialog-footer" slot="footer">
                        <el-button @click="slDialog=false" type="danger">取消</el-button>
                        <el-button @click="save_slot();slDialog=false" type="primary">确定</el-button>
                    </div>
                </el-dialog>
            </div>
            <div>
                <el-button @click="cancelSlDialog=true;slMember=self_id" size="small" type="info">取消SL</el-button>
                <el-dialog :visible.sync="cancelSlDialog" title="取消SL">
                    <el-form>
                        <el-form-item label="所有成员" label-width="120">
                            <el-select filterable placeholder="选择成员" v-model="slMember">
                                <el-option :key="item.qqid" :label="item.nickname" :value="item.qqid"
                                           v-for="item in members">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-form>
                    <div class="dialog-footer" slot="footer">
                        <el-button @click="cancelSlDialog=false" type="danger">取消</el-button>
                        <el-button @click="cancel_save_slot();cancelSlDialog=false" type="primary">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
        <div class="buttons-row" style="margin: 20px;">
            <div>
                <el-button @click="subscribeFormVisible = true" size="small" style="width: auto;" type="info">预约boss
                </el-button>
                <el-dialog :visible.sync="subscribeFormVisible" title="预约boss">
                    <el-radio-group style="margin-bottom: 10px;" v-model="subscribe">
                        <el-radio-button label="1"></el-radio-button>
                        <el-radio-button label="2"></el-radio-button>
                        <el-radio-button label="3"></el-radio-button>
                        <el-radio-button label="4"></el-radio-button>
                        <el-radio-button label="5"></el-radio-button>
                    </el-radio-group>
                    <el-input placeholder="留言（选填）" v-model="message"></el-input>
                    <div class="dialog-footer" slot="footer">
                        <el-button @click="subscribeFormVisible = false" type="danger">取消</el-button>
                        <el-button @click="add_subscribe" type="info">预约</el-button>
                    </div>
                </el-dialog>
            </div>
            <div>
                <el-button @click="subscribeCancelVisible = true" size="small" style="width: auto;" type="info">
                    取消预约
                </el-button>
            </div>
            <el-dialog :visible.sync="subscribeCancelVisible" title="取消预约boss">
                <el-radio-group style="margin-bottom: 10px;" v-model="subscribe">
                    <el-radio-button label="1"></el-radio-button>
                    <el-radio-button label="2"></el-radio-button>
                    <el-radio-button label="3"></el-radio-button>
                    <el-radio-button label="4"></el-radio-button>
                    <el-radio-button label="5"></el-radio-button>
                </el-radio-group>
                <div class="dialog-footer" slot="footer">
                    <el-button @click="subscribeCancelVisible = false" type="danger">取消</el-button>
                    <el-button @click="cancel_subscribe" type="primary">确认取消</el-button>
                </div>
            </el-dialog>
        </div>
        {% else -%}
        <p><a class="exbig">非公会战成员只允许查看</a></p>
        {% endif -%}
        <div style="width: 100%;height: 50px;"></div>
    </div>
    <div v-else>
        <div class="clanname">[[groupData.group_name]]</div>
        <div class="clancycle">第[[base_cycle]]周目挑战中</div>
        <el-container style="margin-top: 0px;">
            <el-main style="padding: 0 5%">
                <el-row class="boss_info-all">
                    <el-col :key="boss_num" style="margin: 10px;" v-for="(info, boss_num) in bossData">
                        <div><img :src="boss_icon_src(boss_num)"></div>
                        <div style="font-weight: 550">[[info.cycle]]周目-[[info.name]]</div>
                        <div class="boss_info-single_health_box">
                            <div :style="{ width: (info.health/info.full_health)*100 + '%'}"
                                 class="boss_info-single_health">
                                [[((info.health/info.full_health) * 100).toFixed(1)]]%
                            </div>
                        </div>
                        <div style="font-weight: 550">[[info.health]]/[[info.full_health]]</div>
                        <div :id="get_challenger_id(boss_num)" @mouseleave="close_challengers(boss_num)"
                             @mouseover="show_challengers(boss_num)"
                             class="boss_info-single_challenger">
                            挑战列表
                        </div>
                        <transition name="fade">
                            <div class="challengers_window" v-show="challengersList[boss_num]">
                                <a style="font-weight: 400;color:white" v-if="Object.keys(info.challenger).length===0">当前无人在挑战这个boss</a>
                                <a :key="qqid" style="font-weight: 400;color:white;"
                                   v-for="(player_info, qqid) in info.challenger">
                                    [[find_name(qqid)]][[player_info.tree?"(已挂树)":""]]<br>
                                </a>
                            </div>
                        </transition>

                        {% if is_member -%}
                        <div class="small-buttons-row" style="margin: 5px;">
                            <div style="margin-right: 10px;">
                                <el-button @click="applyDialog[boss_num]=true;behalf_apply=self_id" size="small">
                                    申请出刀
                                </el-button>
                                <el-dialog :visible.sync="applyDialog[boss_num]" title="申请出刀">
                                    <el-form>
                                        <el-form-item label="是否是补偿刀" label-width="120">
                                            <el-radio-group v-model="is_continue">
                                                <el-switch active-text="是" inactive-text="否"
                                                           v-model="is_continue"></el-switch>
                                            </el-radio-group>
                                        </el-form-item>
                                        <el-form-item label="出刀成员" label-width="120">
                                            <el-select filterable placeholder="选择成员" v-model="behalf_apply">
                                                <el-option :key="item.qqid" :label="item.nickname"
                                                           :value="item.qqid" v-for="item in members">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-form>
                                    <div class="dialog-footer" slot="footer">
                                        <el-button @click="applyDialog[boss_num]=false" type="danger">取消</el-button>
                                        <el-button @click="challengeapply(boss_num);applyDialog[boss_num]=false"
                                                   type="primary">确定
                                        </el-button>
                                    </div>
                                </el-dialog>
                            </div>
                            <div>
                                <el-button @click="cancelApplyDialog[boss_num]=true;behalf_cancelApply=null"
                                           size="small">取消出刀
                                </el-button>
                                <el-dialog :visible.sync="cancelApplyDialog[boss_num]" title="取消出刀">
                                    <el-form>
                                        <el-form-item label="正在出刀的成员" label-width="120">
                                            <el-select filterable placeholder="选择成员" v-model="behalf_cancelApply">
                                                <el-option :key="qqid" :label="find_name(qqid)"
                                                           :value="qqid" v-for="(player_info, qqid) in info.challenger">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-form>
                                    <div class="dialog-footer" slot="footer">
                                        <el-button @click="cancelApplyDialog[boss_num]=false" type="danger">取消
                                        </el-button>
                                        <el-button @click="cancelapply();cancelApplyDialog[boss_num]=false"
                                                   type="primary">确定
                                        </el-button>
                                    </div>
                                </el-dialog>
                            </div>
                        </div>

                        <div class="small-buttons-row" style="width:100%">
                            <el-button @click="recordDamageDialog[boss_num]=true;behalf=null" size="small"
                                       style="width:100%">报刀
                            </el-button>
                            <el-dialog :visible.sync="recordDamageDialog[boss_num]" title="报刀">
                                <el-form>
                                    <el-form-item label="正在出刀的成员" label-width="120">
                                        <el-select filterable placeholder="选择成员" v-model="behalf">
                                            <el-option :key="qqid" :label="find_name(qqid)"
                                                       :value="qqid" v-for="(player_info, qqid) in info.challenger">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="是否击败boss" label-width="120">
                                        <el-radio-group v-model="defeat">
                                            <el-switch active-text="击败" inactive-text="未击败"
                                                       v-model="defeat"></el-switch>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item label="伤害值" label-width="120">
                                        <el-input #} @keyup.enter.native="recordDamage" v-model.number="damage" {#>
                                            <template slot="prepend">[[ damageHint ]]</template>
                                        </el-input>
                                    </el-form-item>
                                </el-form>
                                <div class="dialog-footer" slot="footer">
                                    <el-button @click="recordDamageDialog[boss_num]=false" type="danger">取消
                                    </el-button>
                                    <el-button @click="recordDamage(boss_num);recordDamageDialog[boss_num]=false"
                                               type="primary">确定
                                    </el-button>
                                </div>
                            </el-dialog>
                        </div>
                        {% endif -%}

                    </el-col>
                </el-row>

                {% if is_member -%}
                <div class="buttons-row" style="margin-bottom: 25px;">
                    <div>
                        <el-button @click="recordUndo" size="small" type="info">撤销报刀</el-button>
                    </div>
                    <div>
                        <el-button @click="statusFormVisible=true;update_boss_data();" size="small" style="width: 100%;"
                                   type="info">修改状态
                        </el-button>
                        <el-dialog :visible.sync="statusFormVisible" title="修改状态">
                            <el-alert :closable="false" style="margin-bottom: 10px;"
                                      title="如果要清空数据，请在“设置”中操作，否则会导致分析数据不准确" type="warning"></el-alert>
                            <el-alert :closable="false" style="margin-bottom: 10px;" title="支持多个boss数据同时修改"
                                      type="warning"></el-alert>
                            <el-form>
                                <el-form-item label="当前周目" label-width="120">
                                    <el-input-number :min="1" v-model="base_cycle">
                                    </el-input-number>
                                </el-form-item>
                                <el-form-item label="boss号" label-width="120">
                                    <el-select filterable placeholder="选择boss" v-model="boss_num">
                                        <el-option :key="boss_num_" :label="boss_num_"
                                                   :value="boss_num_" v-for="(info, boss_num_) in bossData">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="是否当前周目" label-width="120">
                                    <el-switch active-text="下个周目" inactive-text="当前周目"
                                               v-model="bossData[boss_num].is_next"></el-switch>
                                </el-form-item>
                                <el-form-item label="剩余生命值" label-width="120">
                                    <el-input-number :max="bossData[boss_num].full_health"
                                                     :min="bossData[boss_num].is_next?0:1"
                                                     v-model="bossData[boss_num].health">
                                    </el-input-number>
                                </el-form-item>
                            </el-form>
                            <div class="dialog-footer" slot="footer">
                                <el-button @click="statusFormVisible=false;update_boss_data();" type="danger">取消
                                </el-button>
                                <el-button @click="modify" type="primary">修改</el-button>
                            </div>
                        </el-dialog>
                    </div>
                    <div>
                        <!-- <el-button type="info" size="small">
                            <a href="./setting/">设置</a>
                        </el-button> -->
                        <a href="./setting/">
                            <el-button size="small" type="info">设置</el-button>
                        </a>
                    </div>
                </div>
                <div class="buttons-row" style="margin-bottom: 25px;">
                    <div>
                        <el-button @click="treeDialog=true" size="small" type="info">挂树</el-button>
                        <el-dialog :visible.sync="treeDialog" title="挂树">
                            <el-radio-group style="margin-bottom: 10px;" v-model="treeNum">
                                <el-radio-button label="1"></el-radio-button>
                                <el-radio-button label="2"></el-radio-button>
                                <el-radio-button label="3"></el-radio-button>
                                <el-radio-button label="4"></el-radio-button>
                                <el-radio-button label="5"></el-radio-button>
                            </el-radio-group>
                            <el-form>
                                <el-form-item label="正在出刀的成员" label-width="120">
                                    <el-select filterable placeholder="选择成员" v-model="behalf_tree">
                                        <el-option :key="qqid"
                                                   :label="find_name(qqid)" :value="qqid" v-for="(player_info, qqid) in bossData[treeNum].challenger">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                            <div class="dialog-footer" slot="footer">
                                <el-button @click="treeDialog=false" type="danger">取消</el-button>
                                <el-button @click="put_on_the_tree();treeDialog=false" type="primary">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                    <div>
                        <el-button @click="cancelTreeDialog=true" size="small" type="info">取消挂树</el-button>
                        <el-dialog :visible.sync="cancelTreeDialog" title="取消挂树挂树">
                            <el-radio-group style="margin-bottom: 10px;" v-model="treeNum">
                                <el-radio-button label="1"></el-radio-button>
                                <el-radio-button label="2"></el-radio-button>
                                <el-radio-button label="3"></el-radio-button>
                                <el-radio-button label="4"></el-radio-button>
                                <el-radio-button label="5"></el-radio-button>
                            </el-radio-group>
                            <el-form>
                                <el-form-item label="正在出刀的成员" label-width="120">
                                    <el-select filterable placeholder="选择成员" v-model="behalf_cancelTree">
                                        <el-option :key="qqid"
                                                   :label="find_name(qqid)" :value="qqid" v-for="(player_info, qqid) in bossData[treeNum].challenger">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                            <div class="dialog-footer" slot="footer">
                                <el-button @click="cancelTreeDialog=false" type="danger">取消</el-button>
                                <el-button @click="take_it_of_the_tree();cancelTreeDialog=false" type="primary">确定
                                </el-button>
                            </div>
                        </el-dialog>
                    </div>
                    <div>
                        <el-button @click="slDialog=true;slMember=self_id" size="small" type="info">记录SL</el-button>
                        <el-dialog :visible.sync="slDialog" title="记录SL">
                            <el-form>
                                <el-form-item label="所有成员" label-width="120">
                                    <el-select filterable placeholder="选择成员" v-model="slMember">
                                        <el-option :key="item.qqid" :label="item.nickname" :value="item.qqid"
                                                   v-for="item in members">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                            <div class="dialog-footer" slot="footer">
                                <el-button @click="slDialog=false" type="danger">取消</el-button>
                                <el-button @click="save_slot();slDialog=false" type="primary">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                    <div>
                        <el-button @click="cancelSlDialog=true;slMember=self_id" size="small" type="info">取消SL
                        </el-button>
                        <el-dialog :visible.sync="cancelSlDialog" title="取消SL">
                            <el-form>
                                <el-form-item label="所有成员" label-width="120">
                                    <el-select filterable placeholder="选择成员" v-model="slMember">
                                        <el-option :key="item.qqid" :label="item.nickname" :value="item.qqid"
                                                   v-for="item in members">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-form>
                            <div class="dialog-footer" slot="footer">
                                <el-button @click="cancelSlDialog=false" type="danger">取消</el-button>
                                <el-button @click="cancel_save_slot();cancelSlDialog=false" type="primary">确定
                                </el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
                <div class="buttons-row" style="margin-bottom: 20px;">
                    <div>
                        <el-button @click="subscribeFormVisible = true" size="small" style="width: auto;" type="info">
                            预约boss
                        </el-button>
                        <el-dialog :visible.sync="subscribeFormVisible" title="预约boss">
                            <el-radio-group style="margin-bottom: 10px;" v-model="subscribe">
                                <el-radio-button label="1"></el-radio-button>
                                <el-radio-button label="2"></el-radio-button>
                                <el-radio-button label="3"></el-radio-button>
                                <el-radio-button label="4"></el-radio-button>
                                <el-radio-button label="5"></el-radio-button>
                            </el-radio-group>
                            <el-input placeholder="留言（选填）" v-model="message"></el-input>
                            <div class="dialog-footer" slot="footer">
                                <el-button @click="subscribeFormVisible = false" type="danger">取消</el-button>
                                <el-button @click="add_subscribe" type="info">预约</el-button>
                            </div>
                        </el-dialog>
                    </div>
                    <div>
                        <el-button @click="subscribeCancelVisible = true" size="small" style="width: auto;" type="info">
                            取消预约
                        </el-button>
                    </div>
                    <el-dialog :visible.sync="subscribeCancelVisible" title="取消预约boss">
                        <el-radio-group style="margin-bottom: 10px;" v-model="subscribe">
                            <el-radio-button label="1"></el-radio-button>
                            <el-radio-button label="2"></el-radio-button>
                            <el-radio-button label="3"></el-radio-button>
                            <el-radio-button label="4"></el-radio-button>
                            <el-radio-button label="5"></el-radio-button>
                        </el-radio-group>
                        <div class="dialog-footer" slot="footer">
                            <el-button @click="subscribeCancelVisible = false" type="danger">取消</el-button>
                            <el-button @click="cancel_subscribe" type="primary">确认取消</el-button>
                        </div>
                    </el-dialog>
                </div>
                {% else -%}
                <p><a class="exbig">非公会战成员只允许查看</a></p>
                {% endif -%}
            </el-main>
        </el-container>
    </div>
</div>
<!-- <script src="https://jscdn.yslsy.top/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script> -->
</body>

<script>
    var csrf_token = "{{ session['csrf_token'] }}";
</script>
<script src="{{ url_for('yobot_static', filename='clan/panel.js') }}"></script>

</html>
