<!DOCTYPE html>

<head>
    <title>权限不足</title>
    <meta charset="utf-8" content='width=device-width, initial-scale=1' name='viewport'/>
    <script src="/yobot-depencency/jquery@2.1.1/jquery.min.js"></script>
    <script src="/yobot-depencency/yocool@final/princessadventure/yocool.js"></script>
    <link href="/yobot-depencency/yocool@final/princessadventure/style.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            text-align: center;
        }

        h1 {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            letter-spacing: 2px;
            font-size: 48px;
            margin-top: 10rem;
        }

        p {
            font-family: 'Lato', sans-serif;
            letter-spacing: 1px;
            font-size: 16px;
            margin-bottom: 40px;
        }
    </style>
</head>

<body>
<a href="#" onclick="javascript:history.go(-1);">
    <h1>权限不足</h1>
    <p>这个公会的信息是私密的，只有其成员可以查看</p>
    <div class="move" id="loading_character">
        <div class="character-container char"></div>
        <div class="text_loading hide">
            <span class="icon_loading"><img alt="loading..."
                                            height="16" src="/yobot-depencency/yocool@final/princessadventure/icon-loading.png" width="16"></span>
            <span><img alt="loading..." height="20" src="/yobot-depencency/yocool@final/princessadventure/text-loading.png"
                       width="88"></span>
        </div>
    </div>
</a>
</body>

</html>
