<!DOCTYPE html>

<head>
    <title>公会战 - 数据分析</title>
    <meta charset="utf-8" content='width=1485' name='viewport'/>
    <script src="/yobot-depencency/vue@2.6.11/dist/vue.min.js"></script>
    <script src="/yobot-depencency/axios@0.19.2/dist/axios.min.js"></script>
    <script src="/yobot-depencency/element-ui@2.13.0/lib/index.js"></script>
    <link href="/yobot-depencency/element-ui@2.13.0/lib/theme-chalk/index.css" rel="stylesheet">
    <style>
        .el-table td,
        .el-table th {
            text-align: center;
        }

        .el-popover {
            white-space: pre-wrap;
        }

        .digit6 {
            color: blue;
        }

        .digit7 {
            color: green;
        }

        .digit8 {
            color: orange;
        }

        .digit9 {
            color: red;
        }
    </style>
</head>

<body>
<div id="app" style="margin: 10px">
    <el-page-header @back="location='..'" content="数据分析"></el-page-header>
    <h1 style="text-align:center">数据分析</h1>
    <!--以后有用-->
    <el-date-picker
            :picker-options="pickerOptions"
            end-placeholder="结束日期"
            range-separator="至"
            start-placeholder="开始日期"
            type="daterange"
            unlink-panels
            v-model="range"
    >
    </el-date-picker>
    <el-tabs v-model="selectingTab">
        <el-tab-pane label="整体数据" name="total">
            <div>
                <p>
                    <a>共[[ members.length ]]人，[[ challengeCount(totalDamage, true) ]]刀</a>
                    <el-checkbox style="margin-left: 20px;" v-model="containTailAndContinue"></el-checkbox>
                    <a>刀均伤害中计入尾刀和剩余刀</a>
                    <a style="margin-left: 20px">&nbsp;</a>
                    <a class="digit6">十万</a> <a class="digit7">百万</a> <a class="digit8">千万</a> <a
                        class="digit9">亿</a>
                </p>
                <el-table :data="globalTableData" :default-sort="{prop: 'sumDmg', order: 'descending'}" border stripe style="width: 100%"
                          v-loading="isLoading">
                    <el-table-column label="QQ号" prop="qqid" sortable width="125"></el-table-column>
                    <el-table-column label="昵称" prop="nickname" sortable width="200"></el-table-column>
                    <el-table-column prop="count" sortable width="120">
                        <template slot="header" slot-scope="scope">
                            <a>刀数</a>
                            <el-popover effect="light" placement="top" trigger="hover">刀数=正常刀+（补偿刀+尾刀）/2<i
                                    class="el-icon-question" slot="reference"></i></el-popover>
                        </template>
                    </el-table-column>
                    <el-table-column label="尾刀" prop="countTail" sortable width="120"></el-table-column>
                    <el-table-column label="补偿刀" prop="countContinue" sortable width="120"></el-table-column>
                    <el-table-column prop="avgDmg" sort-by="avgDmg" sortable width="270">
                        <template slot="header" slot-scope="scope">
                            <a>刀均伤害</a>
                            <el-popover effect="light" placement="top" trigger="hover" v-if="!containTailAndContinue">
                                当前刀均伤害未计入尾刀和补偿刀<i class="el-icon-question" slot="reference"></i>
                            </el-popover>
                            <el-popover effect="light" placement="top" trigger="hover" v-if="containTailAndContinue">
                                当前刀均伤害已计入尾刀和补偿刀<i class="el-icon-question" slot="reference"></i>
                            </el-popover>
                        </template>
                        <template slot-scope="scope">
                            <a :class='"digit" + scope.row.avgDmg.toString().length'>[[scope.row.avgDmg]]</a>
                        </template>
                    </el-table-column>
                    <el-table-column label="总伤害" prop="sumDmg" sort-by="sumDmg" sortable width="270">
                        <template slot-scope="scope">
                            <a :class='"digit" + scope.row.sumDmg.toString().length'>[[scope.row.sumDmg]]</a>
                        </template>
                    </el-table-column>
                    <el-table-column label="总伤害占比" min-width="150" prop="sumDmgRate" sortable></el-table-column>
                </el-table>
            </div>
        </el-tab-pane>
        <el-tab-pane label="公会图表" name="channel">
            <div>
                <div style="display: flex; height: 450px">
                    <div style="width: 100%">
                        <div id="missChart"
                             style="margin: 10px; padding: 20px; border: 1px solid #EBEEF5; height: 400px;"></div>
                    </div>
                </div>
                <div style="display: flex; height: 450px">
                    <div style="width: 50%">
                        <div id="lastChart"
                             style="margin: 10px; padding: 20px; border: 1px solid #EBEEF5; height: 400px;"></div>
                    </div>
                    <div style="width: 50%">
                        <div id="totalTimeChart"
                             style="margin: 10px; padding: 20px; border: 1px solid #EBEEF5; height: 400px;"></div>
                    </div>
                </div>
                <div style="display: flex; height: 450px">
                    <div style="width: 100%">
                        <div id="bossBloodChart"
                             style="margin: 10px; padding: 20px; border: 1px solid #EBEEF5; height: 400px;"></div>
                    </div>
                </div>
                <div style="display: flex; height: 450px">
                    <div style="width: 100%">
                        <div id="bossHitChart"
                             style="margin: 10px; padding: 20px; border: 1px solid #EBEEF5; height: 400px;"></div>
                    </div>
                </div>
                <div style="display: flex; height: 450px">
                    <div style="width: 100%">
                        <div id="totalDamageChart"
                             style="margin: 10px; padding: 20px; border: 1px solid #EBEEF5; height: 400px;"></div>
                    </div>
                </div>
            </div>
        </el-tab-pane>
        <el-tab-pane label="玩家数据" name="player">
            <div>
                <div style="display: flex; height: 450px">
                    <div style="width: 50%;">
                        <p>
                            <a>选择玩家：</a>
                            <el-select placeholder="请选择" v-model="selectingQQid">
                                <el-option
                                        :key="member.qqid"
                                        :label="member.nickname"
                                        :value="member.qqid"
                                        v-for="member in members">
                                </el-option>
                            </el-select>
                            <el-checkbox style="margin-left: 20px;" v-model="containTailAndContinue"></el-checkbox>
                            <a>刀均伤害中计入尾刀和剩余刀</a>
                        </p>
                        <div style="width: 80%;">
                            <el-table :data="playerData.damage" :show-header="false">
                                <el-table-column label="" prop="label"></el-table-column>
                                <el-table-column label="" prop="value"></el-table-column>
                            </el-table>
                        </div>
                    </div>
                    <div style="width: 50%" v-show="selectingTab != 'total'">
                        <div id="sumDmgChart"
                             style="margin: 10px; padding: 20px; border: 1px solid #EBEEF5; height: 400px;"></div>
                    </div>
                </div>
                <div style="display: flex; height: 450px">
                    <div style="width: 50%">
                        <div id="personalProgressChart"
                             style="margin: 10px; padding: 20px; border: 1px solid #EBEEF5; height: 400px;"></div>
                    </div>
                    <div style="width: 50%">
                        <div id="personalTimeChart"
                             style="margin: 10px; padding: 20px; border: 1px solid #EBEEF5; height: 400px;"></div>
                    </div>
                </div>
            </div>
        </el-tab-pane>
    </el-tabs>
    <div style="display: flex; height: 400px">
        <div style="width: 50%">
            <div id="bossDmgChart" style="margin: 10px; padding: 20px; border: 1px solid #EBEEF5; height: 100%;"></div>
        </div>
        <div style="width: 50%">
            <div id="challengeChart"
                 style="margin: 10px; padding: 20px; border: 1px solid #EBEEF5; height: 100%;"></div>
        </div>
    </div>
</div>


</body>

<script>var csrfToken = "{{ session['csrf_token'] }}";
var qqid = "{{ session['yobot_user'] }}"</script>
<script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.7.0/echarts.min.js"></script>
<script src="{{ url_for('yobot_static', filename='clan/statistics/statistics2.js') }}"></script>


</html>