<!DOCTYPE html>

<head>
    <meta charset="utf-8" content='width=device-width, initial-scale=1' name='viewport'/>
    <title>YoCool Link Start</title>
    <script src="/yobot-depencency/vue@2.6.11/dist/vue.min.js"></script>
    <script src="/yobot-depencency/element-ui@2.13.0/lib/index.js"></script>
    <link href="/yobot-depencency/element-ui@2.13.0/lib/theme-chalk/index.css" rel="stylesheet">
    <script src="/yobot-depencency/jquery@2.1.1/jquery.min.js"></script>
    <script src="/yobot-depencency/yocool@final/princessadventure/yocool.js"></script>
    <link href="/yobot-depencency/yocool@final/princessadventure/style.css" rel="stylesheet">
    <style>
        html {
            background-color: #FFFFFF;
        }

        body {
            margin: 0;
            text-align: center;
        }

        h1 {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            letter-spacing: 2px;
            font-size: 48px;
            color: #FFFFFF;
        }

        p {
            font-family: 'Lato', sans-serif;
            letter-spacing: 1px;
            font-size: 16px;
        }
    </style>
</head>

<body>
<div class="header">
    <div class="inner-header flex">
        <h1>Hi!YoCool!</h1>
    </div>
    <svg class="waves" preserveAspectRatio="none" shape-rendering="auto"
         viewBox="0 24 150 28" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <path d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" id="gentle-wave"/>
        </defs>
        <g class="parallax">
            <use fill="rgba(255,255,255,0.7" x="48" xlink:href="#gentle-wave" y="0"/>
            <use fill="rgba(255,255,255,0.5)" x="48" xlink:href="#gentle-wave" y="3"/>
            <use fill="rgba(255,255,255,0.3)" x="48" xlink:href="#gentle-wave" y="5"/>
            <use fill="#fff" x="48" xlink:href="#gentle-wave" y="7"/>
        </g>
    </svg>
</div>
<br>
<p>—yobot is running—</p>
<div id="app">
    <a href="{{ url_for('yobot_login') }}">
        <el-button style="margin: 5%;height: 80px;width: 200px;" type="primary">登录</el-button>
    </a>
    <br>
    <a href="{{ url_for('yobot_about') }}">
        <el-button size="mini" style="width: 200px;">关于</el-button>
    </a>
</div>
<el-footer style="position: fixed;bottom: 12px;left: 50%;transform: translate(-50%, -50%);
width: 100%;font-size:14px;">
    {% if show_icp -%}
    <a href="http://beian.miit.gov.cn/" style="text-decoration:none;color: #000;" target="_blank">{{ icp_info }}</a>
    &nbsp;
    {% if gongan_info -%}
    <a href="http://www.beian.gov.cn/portal/registerSystemInfo" style="text-decoration:none;color: #000;"
       target="_blank">
        <img src="{{ url_for('yobot_static', filename='gongan.png') }}">
        {{ gongan_info }}
    </a>
    &nbsp;
    {% endif -%}
    {% endif -%}
</el-footer>
</body>
<script>
    new Vue().$mount('#app');
</script>

</html>