<!DOCTYPE html>

<head>
    <meta charset="utf-8" content='width=device-width, initial-scale=1' name='viewport'/>
    <title>会战系统登录</title>
    <script src="/yobot-depencency/vue@2.6.11/dist/vue.min.js"></script>
    <script src="/yobot-depencency/element-ui@2.13.0/lib/index.js"></script>
    <script src="{{ url_for('yobot_static', filename='password.js') }}"></script>
    <link href="/yobot-depencency/element-ui@2.13.0/lib/theme-chalk/index.css" rel="stylesheet">
    <script src="/yobot-depencency/jquery@2.1.1/jquery.min.js"></script>
    <script src="/yobot-depencency/yocool@final/princessadventure/yocool.js"></script>
    <link href="/yobot-depencency/yocool@final/princessadventure/style.css" rel="stylesheet">
    <style>
        html {
            background-color: #FFFFFF;
        }

        #app {
            margin: auto;
        }

        h1 {
            font-size: 48px;
            font-weight: 200;
            color: #FFFFFF;
        }

        .el-alert {
            margin: -30px 0 -30px;
        }
    </style>
</head>

<body>
<div class="header">
    <div class="inner-header flex">
        <h1>会战系统登录</h1>
    </div>
    <svg class="waves" preserveAspectRatio="none" shape-rendering="auto"
         viewBox="0 24 150 28" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <path d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" id="gentle-wave"/>
        </defs>
        <g class="parallax">
            <use fill="rgba(255,255,255,0.7" x="48" xlink:href="#gentle-wave" y="0"/>
            <use fill="rgba(255,255,255,0.5)" x="48" xlink:href="#gentle-wave" y="3"/>
            <use fill="rgba(255,255,255,0.3)" x="48" xlink:href="#gentle-wave" y="5"/>
            <use fill="#fff" x="48" xlink:href="#gentle-wave" y="7"/>
        </g>
    </svg>
</div>
<div class="container" id="app" style="margin-top: 40px;">
    <div class="container">
        {% if reason -%}
        <el-alert description="{{ advice }}" show-icon title="{{ reason }}" type="error">
        </el-alert>
        {% endif -%}
        <div style="margin: 20px;"></div>
        <el-form :model="form" :rules="rules" label-width="0px" ref="form" style="width: 300px;">
            <el-form-item prop="qq">
                <el-input @keyup.enter.native="onSubmit" name="user" placeholder="请输入登录QQ号" v-model="form.qq">
                </el-input>
            </el-form-item>
            <el-form-item prop="pwd">
                <el-input @keyup.enter.native="onSubmit" name="password" placeholder="这个密码不是QQ密码" type="password"
                          v-model="form.pwd"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="onSubmit" style="width: 100%;margin-top: 25px;" type="primary">登录</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            form: {
                qq: "",
                pwd: ""
            },
            rules: {
                qq: [
                    {required: true, message: '这个账号是你的QQ号', trigger: 'blur'}
                ],
                pwd: [
                    {required: true, message: '如果忘记密码，可以私聊机器人“重置密码”', trigger: 'blur'},
                ],
            }
        },
        methods() {
            if (localStorage.login_qqid) {
                this.form.qq = String(localStorage.login_qqid);
            }
        },
        methods: {
            post: function (url, params) {
                //创建form表单
                const temp_form = document.createElement("form");
                temp_form.action = url;
                //如需打开新窗口，form的target属性要设置为'_blank'
                //temp_form.target = "_blank";
                temp_form.method = "post";
                temp_form.style.display = "none";
                //添加参数
                for (const key in params) {
                    const opt = document.createElement("textarea");
                    opt.name = key;
                    opt.value = params[key];
                    temp_form.appendChild(opt);
                }
                document.body.appendChild(temp_form);
                //提交数据
                temp_form.submit();
            },
            onSubmit: function () {
                localStorage.login_qqid = this.form.qq;
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        const url = "{{ url_for('yobot_login') }}";
                        this.post(url, {
                            qqid: this.form.qq,
                            pwd: getHashWithSalt(this.form.pwd + this.form.qq)
                        });
                    } else {
                        console.log('请检查输入！');
                        return false;
                    }
                });
            }
        }
    })
</script>
</body>

</html>